if: branch = master
language: node_js
services:
  - mysql
env:
  - APP="eCommerceApi" CONNECTION="mongodb://localhost/test" AUTH0_SECRET="(oZhS6OJQ9s&_J52KqyU*BWgQX-vWbuigQl#7btZM0(2!1rVW(#cu&X@2qInY03o" AUTH0_ID="U18Wci8fuZ!UVWQGwD9sg0m%PbJXzLmF"
node_js:
  - 'stable'
before_install:
  - npm install -g nodemon mocha nyc
before_script:
  - mysql --version
script:
  - npm test
after_script:
  - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls