language: node_js
services:
  - mysql
env:
  - APP="eCommerceApi" DB_NAME="api" DB_HOST="127.0.0.1" DB_USER="root" DB_PASS="secret" AUTH0_SECRET="(oZhS6OJQ9s&_J52KqyU*BWgQX-vWbuigQl#7btZM0(2!1rVW(#cu&X@2qInY03o" AUTH0_ID="U18Wci8fuZ!UVWQGwD9sg0m%PbJXzLmF"
node_js:
  - 'stable'
before_install:
  - npm install -g nodemon mocha nyc
before_script:
  - mysql --version
script:
  - rm .yarnclean
  - yarn --ignore-engines
  - npm test
after_script:
  # - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls